@font-face {
  font-family: "Gilroy-Bold";
  src: url("./font/Gilroy-Bold.woff2");
}
@font-face {
  font-family: "Gilroy-Semibold";
  src: url("./font/Gilroy-Semibold.woff2");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("./font/Gilroy-Medium.woff2");
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background: #ffffff;
  font-family: "Gilroy-SemiBold";
}
img {
  max-width: 100%;
  display: block;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
header {
  padding: 40px 0;
  margin-bottom: 84px;
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
  width: 533px;
  justify-content: space-between;
}
.navigation_link_black {
  font-family: "Gilroy-Medium";
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.navigation_link {
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  line-height: 16px;
  color: #f25822;
}
main {
  margin-bottom: 162px;
}
.content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_maintittle {
  color: #000000;
  margin-bottom: 17px;
  font-family: Gilroy-Bold;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
}
.content-description {
  color: #888888;
  margin-bottom: 37px;
  font-family: Gilroy-Medium;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  width: 466px;
}
.content_btns {
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_btns_button {
  font-family: "Gilroy-Bold";
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  background: #f25822;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;
  margin-bottom: 162px;
  border: none;
  width: 140px;
  height: 50px;
  cursor: pointer;
}
.content_btns_button_WV {
  color: #aaaaaa;
  border: none;
  background: none;
  margin-bottom: 178px;
  cursor: pointer;
  font-family: Gilroy-Bold;
  font-size: 15px;
  line-height: 18px;
}
.logos {
  display: flex;
  justify-content: space-between;
}
