@font-face {
  font-family: "Gilroy-Bold";
  src: url("./font/Gilroy-Bold.woff2");
}
@font-face {
  font-family: "Gilroy-Semibold";
  src: url("./font/Gilroy-Semibold.woff2");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("./font/Gilroy-Medium.woff2");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("./font/Gilroy-Regular.woff2");
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background: #ffffff;
  font-family: "Gilroy-SemiBold";
}
img {
  max-width: 100%;
  display: block;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
header {
  padding: 40px 0;
  margin-bottom: 84px;
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
  width: 533px;
  justify-content: space-between;
}
.navigation_link_black {
  font-family: "Gilroy-Medium";
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.navigation_link {
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  line-height: 16px;
  color: #f25822;
}
main {
  margin-bottom: 162px;
}
.content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_maintittle {
  color: #000000;
  margin-bottom: 17px;
  font-family: Gilroy-Bold;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
}
.content-description {
  color: #888888;
  margin-bottom: 37px;
  font-family: Gilroy-Medium;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  width: 466px;
}
.content_btns {
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_btns_button {
  font-family: "Gilroy-Bold";
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  background: #f25822;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;
  margin-bottom: 162px;
  border: none;
  width: 140px;
  height: 50px;
  cursor: pointer;
}
.content_btns_button_WV {
  color: #aaaaaa;
  border: none;
  background: none;
  margin-bottom: 178px;
  cursor: pointer;
  font-family: Gilroy-Bold;
  font-size: 15px;
  line-height: 18px;
}
footer {
  margin-bottom: 96px;
}
.logos {
display: flex;
justify-content: space-between;
}

.icon-list {
margin-bottom: 100px;
}

.icon-list_wrapper {
display: flex;
padding-bottom: 100px;
padding-top: 100px;
justify-content: space-between;
padding-left: 30px;
padding-top: 40px;
}

.icon {
width: 310px;
height: 226px;
flex-shrink: 0;
align-items: center;
background: #FFF;
}

.icon img {
width: 70px;
height: 70px;
flex-shrink: 0;
margin-bottom: 25px;
}
.icon h3 {
color: #000;
font-size: 24px;
margin-bottom: 17px;
}

.icon p {
font-family: Gilroy-Regular;
width: 310px;
height: 42px;
flex-direction: column;
flex-shrink: 0;
color: #666;
font-size: 15px;
line-height: 150%;
margin-bottom: 25px;
}

.icon button {
border: none;
background: none;
width: 64px;
height: 17px;
color: #000;
font-size: 11px;
font-family: Gilroy-Bold;
line-height: 150%;
cursor: pointer;
}
.icon1 {
width: 370px;
height: 291px;
flex-shrink: 0;
background: #FFF;
box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.cart-list {
background: #FAFAFA;
padding: 92px;

}
.cart-list_wrapper {
margin-left: auto;
margin-right: auto;
text-align: center;
width: 682px;
}

.cart-list h2 {
width: 579px;
color: #000;
font-size: 45px;
font-family: Gilroy-Bold;
margin-bottom: 19px;
}

.cart-list p {
width: 682px;
color: #666;
font-size: 16px;
font-family: Gilroy-Regular;
line-height: 150%;
margin-bottom: 54px;
}

.cart_wrapper {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 30px;
background: #fff;
}
.cart {
display: flex;
flex-direction: column;
align-items: center;
width: 370px;
}

.cart h3 {
color: #000;
font-size: 24px;
font-family: Gilroy-Bold;
flex-direction: column;
}
.cart p {
display: flex;
width: 310px;
height: 63px;
flex-direction: column;
flex-shrink: 0;
color: #AAA;
text-align: center;
font-size: 15px;
font-family: Gilroy-Regular;
line-height: 150%;
}

.cart button {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-family: Gilroy-Bold;
  line-height: 150%;
  border: none;
  margin-bottom: 50px;
  cursor: pointer;
}
.cart1 {
background: #FFF;
box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}